  <footer class="container">
    <ul>
      <li><a href="blog">Blog</a></li>
      <li><a href="links">Links</a></li>
      <li><a href="contacto">Contacto</a></li>
    </ul>
    <p>Comunidad Dzogchen en Canarias pertenece a <a href="http://www.dzogchen.es">La Asociación Cultural Dzogchen en España</a></p>
    <img src="http://www.vaalserberg-garden.com/v2/moon_img.php" >
    <script type="text/javascript">mbgc='f5f5f5';ww='320';mbc='cecece';bbc='3F79D5';bmobc='3b71c6';bbgc='4889F0';bmoc='3F79D5';bfc='FFFFFF';bmofc='ffffff';tlc='cecece';tc='6a6a6a';nc='6a6a6a';bc='6a6a6a';l='y';fs='16';fsb='13';bw='100';ff='4';pc='4889F0';b='s'; pid='102721572594228637143';</script><script type="text/javascript" src="http://widgetsplus.com/google_plus_widget.js"></script>

    <iframe id="widgetFrame" src="http://widgplus.com/templates/new/activity.php?plusid=102721572594228637143&textcolor=000&bg=fff&contentbg=000&linkcolorblue" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:px; height:450px;"></iframe> 
  </footer>