<header class="container">
	<nav class="twelve columns offset-by-four">
		<a href="azul/" class="azul">Enseñanzas</a>
		<a href="rojo/" class="rojo">Actividad</a>
		<a href="amarillo/" class="amarillo">Meriling</a>
	</nav>

	<h2 class="four columns"><a href="/" title="inicio">Comunidad Dzogchen en Canarias</a></h2>
	
	{% if page.image %}
	<figure>
	<!-- http://proxy.boxresizer.com/convert?resize=650x150&source= -->
	<img src="../images/{{ page.image.url }}" alt="{{ page.title }}" />
	{% if page.image.by %}<figcaption>{{ page.image.by }}</figcaption>{% endif %}
	<figure>
	{% endif %}
</header>