/* @override http://k1000.github.com/meriling/stylesheets/layout.css */

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* FONTS
================================================== */

@import url(http://fonts.googleapis.com/css?family=Prociono);

/* #Site Styles
================================================== */

body{
   background: #E4DECA url(../images/background.png);
   font-family: Georgia, "Times New Roman", Times, serif;
}
li {
    list-style: outside;    
    list-style-type: disc;
    padding-left: 20px;
}
header h1,
header h2 {
    display:block;
    height: 60px;
    float: left;
    width: 160px;
}
header h1{
    text-shadow: #A0A0A0 0px  1px;
    /*background: url(../images/meriling-logo.png) no-repeat;*/
;
    margin: .3em 0 0 0;
    font-size: 2.3em;
}
header h2{
    text-indent: -999em;
    background: #fff url(../images/DC-canarias-logo.png) center no-repeat; 
    margin: 0;
    margin-bottom: 20px;
}
aside nav{
    text-align: right;
    padding-right: 5px
}
aside nav a{
    font-weight: bold;
    text-decoration: none;
    color: gray;
}
.amarillo aside nav{
    border-right: 8px solid yellow;
}
.rojo aside nav{
    border-right: 8px solid red;
}
.azul aside nav{
    border-right: 8px solid blue;
}
right: {
    float: right;
}
left: {
    float: left;
}
.multicolumn {
    -o-column-width: 16em;
    -icab-column-width: 16em;
    -khtml-column-width: 16em;
    -moz-column-width: 16em;
    -webkit-column-width: 20em;
    column-width: 20em;
}
.clear {
    clear: both;
}
/* #Page Styles
================================================== */
h1 {
    margin-top: 10px;
    text-shadow: 0 -1px 0 black;
    font-size: 2.7em;
    line-height: 1em;
}
.azul h1{
    color: #0071DA;
}
.amarillo h1{
    color: rgb(255, 235, 0);
}
.rojo h1{
    color: red;
}
article a {
	font-weight: bold;
}
article p {
	text-shadow: 0 1px 1px #fff;
}
article.container {
	padding-bottom: 2em;
	background: rgba(255, 255, 255, 0.62);
}
hgroup {
    clear: both;
}
body > header {
    background: white;
}
body > header > nav{
    margin-right: -15px !important;
}
body > header > nav a{
    width: 33.3%;
    float:left;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}
a.azul {
    background: rgb(0, 153, 255);
}
a.rojo {
    background: #FF5C5C;
}
a.amarillo {
    background: rgb(255, 250, 137);
}

body > footer {
	border-top: 6px solid;
	background: #C5BDA4;
}
article nav {
	text-align: right;
	padding-top: 15px;
}

.azul article nav {
	border-right: 6px solid #09F;;
}
.rojo article nav {
	border-right: 6px solid #FF5C5C;
}
.amarillo article nav {
	border-right: 6px solid rgb(255, 250, 137);
}

article nav a{
	text-decoration: none;
	padding-right: 10px;
	display: block;
}
a time {
    text-decoration: none;
}
time {
	background: #EBE8E8;
	color: rgb(148, 138, 138);
	font-size: small;
	padding: 0 .3em;
}
/* #FONTS
================================================== */
@font-face {
    font-family:'DzogchenFont';
    src: url('../fonts/dzogchenfont/DzogchenFont.woff') format('woff'),
    	url('../fonts/dzogchenfont/DzogchenFont.ttf') format('truetype');
/*    src: url('../fonts/dzogchenfont/DzogchenFont.woff') format('woff'),
         url('../fonts/dzogchenfont/DzogchenFont.ttf') format('truetype'),
        url('../fonts/dzogchenfont/DzogchenFont.svg') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

/* #INDEX
================================================== */
.index > header {
    background: transparent;
    /*background: #951c2f url(http://www.melong.com/files/images/nnrinpocze.jpg) no-repeat;
    background: url(../images/meriling-logo.svg) 10px 10px no-repeat;*/
}
.index > header h3 a{ 
    margin: 0;
    padding-left: 8px;
    padding-top: 0;
    border-top: 0;
}
.index > header a{
    text-decoration: none;
    color: black;
    padding: 6px 10px;
    display: block;
    text-shadow: 0 1px 1px white;
    border-top: 1px dotted #A39076;
    font-size: 1.3em;
}
.index hgroup {
    display: block;
    padding-top:20px;
}
.index h1 {
    float: right;
}
.index blockquote {
    display: block;
    float: rigth;
    background-color: #;
    width: 250px;
    font-size: 1.5em;
    line-height: 1.3em;
    color: #705151;
    text-shadow: white 0px 1px 1px;
    padding-right: 40px;
}
.index blockquote a {
    color: #AF9266;
    clear: both;
    float: right;
    font-size: .8em;
    padding-right: 20px;
}
.index header aside li{
    
}
.index article {
	background: transparent;
}
.index article div {
	background: rgba(255, 254, 255, 0.64);
	box-shadow: 0 0 5px #969696;
	margin-bottom: 1em;
}
.index h3 a {
	display: block;
	text-decoration: none;
	padding-top: 0.6em;
	text-shadow: 0 1px 1px #FDFDFD;
	font-weight: normal;
	padding-left: 20px;
}
.index h3 a:hover {
    color: gray;
}
.index p {
	margin: 0 20px;
	color: #444;
}
.index .azul h3 a{ border-top: 6px solid #438CFE; }
.index .rojo h3 a{ border-top: 6px solid red; }
.index .amarillo h3 a{ border-top: 6px solid #F9E20F; }
.index a.button{
    width: 100px;
    text-align: center;
    margin: 20px 25%;
}
/* reterat */
.index > header > aside > ul > li{
    padding: 0;
    margin: 0;
}
.es a {
    background: url(../images/flags/Spain-icon.png) no-repeat;
}
.en a {
    background: url(../images/flags/United-Kingdo-icon.png) no-repeat;
}
.ru a {
    background: url(../images/flags/Russian-Federation-icon.png) no-repeat;
}
.cn a {
    background: url(../images/flags/China-icon.png) no-repeat;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	    
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	    h1 { text-align: center }
	    p, h1, h2, h3, pre { margin: 20px }
	    article nav {
                overflow: hidden;
                padding:  0 10px;
            }
	    article nav li{
	        float: left;
	    }
	    .azul article nav {
                background: #09F;
            }
            .rojo article nav {
                background: red;
            }
            .amarillo article nav {
                background: yellow;
            }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	    h1 { text-align: center }
	    p, h1, h2, h3, pre { margin: 20px }
	    article nav {
                overflow: hidden;
                padding:  0 10px;
            }
	    article nav li{
	        float: left;
	    }
	    .azul article nav {
                background: #09F;
            }
            .rojo article nav {
                background: red;
            }
            .amarillo article nav {
                background: yellow;
            }
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
