---
layout: base
---
{% include header.html %}

<article class="container">
	{% if page.navigation %}
	<aside class="three columns sidebar">
		<nav>
			<ul>
			{% for link in page.navigation %}
				{% assign current = nil %}
				{% if page.url == link.url or page.layout == link.layout %}
				{% assign current = 'active' %}
				{% endif %}
				<li><a {% if current %}class="{{ current }}"{% endif %} href="{{ link.url }}">{{ link.text }}</a></li>
			{% endfor %}
			</ul>
		</nav>
	</aside>
	{% endif %}

	<section class="twelve columns offset-by-one content">
	{{ content }}
	
		{% if page.map %}
		<div id="map_canvas"></div>
		{% endif %}

		{% if page.youtube %}
		<div id="youtube">
			<iframe width="420" height="345" frameborder="0" src="http://www.youtube.com/embed/{{ page.youtube }}">
			</iframe>
		</div>
		{% endif %}
	</section>
</article>